* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #999;
}

h1, h2, h3, h4 {
    color: white;
    margin: 0.7rem 0;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    position: relative;
    height: 75vh;
    background: url(/NetflixBg.png) no-repeat center center/cover;
}

.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 ;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 10px 10px 200px #000000, inset -10px -10px 200px #000000;
}

.showcase-top {
    position: relative;
    height: 240px;
    z-index: 2;
}

.showcase-top img {
    width: 190px;
    position: absolute;
    left: 20%;
}

.showcase-top a {
    position: absolute;
    top: 15%;
    left: 75%;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 7px 13px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

/*start here next time*/

.showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    z-index: 2;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.showcase-content h1 {
    font-size: 50px;
}

.showcase-content h2 {
    font-weight: 100;
}

.showcase-content h3 {
    font-weight: 500;
    font-size: 20px;
}

.selectBar {
    position: absolute;
    top: 15%;
    left: 67%;
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.176);
    color: white;
}
.emailBar input {
    padding: 17px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.176);
    font-size: 17px;
    color: white;
    font-weight: 550;
    margin-top: 40px;
    width: 400px;
}


.emailLogin {
    padding: 14px 25px;
    font-weight: 900;
    font-size: 22px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}


.emailLogin:hover {
    cursor: pointer;
}

.info-bar {
    background: linear-gradient(to right, rgb(20, 1, 20) 10%, royalblue, rgb(124, 18, 48), royalblue , rgb(20, 1, 20) 90%);
    padding: 30px 0;
    margin: 0 100px;
}

.info-bar .container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.container img {
    width: 90px;
    height: 90px;
}

.infos h3 {
    font-size: 20px;
}

.infos p {
    color: white;
}

.infos a {
    font-weight: bold;
    color: royalblue;
}

.gap {
    background-color: rgb(29, 29, 29);
    width: auto;
    height: 8px;
    margin-top: 80px;
}

.downscroll .scrollContainer2 {
    display: none;
}

.downscroll .scrollContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.downscroll img {
    width: 600px;
}

.downscroll h1 {
    font-size: 50px;
}

.downscroll p {
    font-size: 25px;
    color: white;
}

.downscroll img {
    width: 30%;
    height: auto;
}

.MostQuestions {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    color: white;
}

.MostQuestions h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}

.list {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.list li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.list li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
}

label::after {
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 31.5%;
    transition: transform 0.2s;
}

input[type = "radio"] {
    display: none;
}

.list .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.list input[type = "radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.list input[type = "radio"]:checked + label::after {
    transform: rotate(135deg);
}

.MostQuestions h3 {
    font-weight: 500;
    font-size: 20px; 
}

.footer p {
    color: rgb(176, 169, 169);
    font-size: 18px;
    margin-bottom: 35px;
}

.footer {
    padding: 50px 15% 10px;
}

.footer a {
    color: rgb(176, 169, 169);
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.help2 {
    display: none;
}

.help {
    display: flex;
}

.help .col {
    display: flex;
    flex-direction: column;
}

.col a {
    color: rgb(176, 169, 169);
    margin-bottom: 15px;
    font-size: 14px;
}

.selectBarBottom {
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.176);
    color: white;
    margin-bottom: 20px;
}

.smallTag {
    margin-bottom: 60px;
}


@media only screen and (max-width: 600px) {
    .showcase-top img {
        width: 100px;
        position: absolute;
        left: 1%;
        top: 9%;
    }

    .selectBar {
        left: 45%;
        padding: 1px 5px;
        font-size: 15px;
    }

    .showcase-top a {
        left: 72%;
        padding: 3px 5px;
        font-size: 15px;
    }

    .showcase-content h1 {
        font-size: 20px;
    }

    .showcase-content h2 {
        font-size: 12px;
    }

    .showcase-content h3 {
        font-size: 11px;
    }

    .emailBar input {
        font-size: 12px;
        width: 300px;
        padding: 15px;
        margin-bottom: 20px;
    }

    .emailLogin {
        padding: 10px 20px;
        font-size: 15px;
    }

    .info-bar {
        font-size: 12px;
        padding: 30px 0;
        margin: 0 25px;
        border-radius: 5px;
        background: linear-gradient(to right, royalblue, rgb(124, 18, 48), royalblue);
    }

    .info-bar h3 {
        font-size: 15px;
    }

    .info-bar img {
        position: absolute;
        top: 70%;
        left: 10%;
        z-index: 1;
        width: 70px;
        height: 70px;
    }

    .downscroll .scrollContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .downscroll .apple-img {
        width: 360px;
    }

    .scrollContainer2 .media-h1 {
        font-size: 25px;
    }

    .scrollContainer2 .media-p {
        font-size: 12px;
    }

    .downscroll img {
        width: 400px;
    }

    .scrollContainer h1 {
        font-size: 25px;
    }

    .scrollContainer p {
        font-size: 15px;
    }

    .downscroll #media img {
        display: none;
    }

    .downscroll .media-text {
        display: none;
    }

    .downscroll .scrollContainer2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .scrollContainer2 h1 {
        font-size: 30px;
    }

    .scrollContainer2 p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .MostQuestions h1 {
        font-size: 30px;
    }

    .list li label {
        font-size: 15px;
    }

    label::after {
        content: "+";
        right: 15%;
    }

    .MostQuestions h3 {
        font-size: 15px;
    }

    .footer .col {
        display: none;
    }

    .help2 {
        display: flex;
        column-gap: 50px;
    }

    .help2 .media-col {
        display: flex;
        flex-direction: column;
    }

    .media-col a {
        display: flex;
        color: rgb(176, 169, 169);
        margin-bottom: 15px;
        font-size: 15px;
    }
}