* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #999;
}

h1, h2, h3, h4 {
    color: white;
    margin: 0.7rem 0;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    position: relative;
    height: 75vh;
    background: url(/NetflixBg.png) no-repeat center center/cover;
}

.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 ;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 10px 10px 200px #000000, inset -10px -10px 200px #000000;
}

.showcase-top {
    position: relative;
    height: 240px;
    z-index: 2;
}

.showcase-top img {
    width: 190px;
    position: absolute;
    left: 20%;
}

.showcase-top a {
    position: absolute;
    top: 15%;
    left: 75%;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 7px 13px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.showcase-content h1 {
    font-size: 50px;
}

.showcase-content h2 {
    font-weight: 100;
}

.showcase-content h3 {
    font-weight: 500;
    font-size: 20px;
}

.selectBar {
    position: absolute;
    top: 15%;
    left: 67%;
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.176);
    color: white;
}

.emailBar input {
    padding: 17px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.176);
    font-size: 17px;
    color: white;
    width: 400px;
    font-weight: 550;
    margin-top: 40px;
}

.emailLogin {
    padding: 14px 25px;
    font-weight: 900;
    font-size: 22px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.emailLogin:hover {
    cursor: pointer;
}

.info-bar {
    background: linear-gradient(to right, rgb(20, 1, 20) 10%, royalblue, rgb(124, 18, 48), royalblue , rgb(20, 1, 20) 90%);
    padding: 30px 0;
    margin: 0 100px;
}

.info-bar .container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.container img {
    width: 90px;
    height: 90px;
}

.infos h3 {
    font-size: 20px;
}

.infos p {
    color: white;
}

.infos a {
    font-weight: bold;
    color: royalblue;
}

.gap {
    background-color: rgb(29, 29, 29);
    width: auto;
    height: 8px;
    margin-top: 80px;
}

.downscroll .scrollContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.downscroll img {
    width: 600px;
}

.downscroll h1 {
    font-size: 50px;
}

.downscroll p {
    font-size: 25px;
    color: white;
}
